<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include ::header('用户修改')"/>
	<th:block th:include="include ::datetimepicker-css"/>
</head>
<body>
<div class="panel-default panel">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a href="#dqpb" data-toggle="collapse" data-parent="#accordion">修改页面</a></h4>
	</div>
	<div id="dqpb" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>修改</h5>
						</div>
						<div class="ibox-content">
							<form class="form-horizontal m-t" id="commentForm" th:action="@{/user}" method="post">
								<!--
								发送put请求
									1: SpringMVC 配置 HiddenHttMethodFilter
									2: 页面创建一个form
									4: 创建一个input name = "_method" ; 值为我们指定的提交方式
									-->
								<input type="hidden" name="_method" value="put" id="">
								<input id="cemail" type="hidden" th:value="${user.id}" class="form-control" name="id">
								<div class="form-group">
									<label class="col-sm-3 control-label">姓名：</label>
									<div class="col-sm-8">
										<input id="cname" name="name" minlength="2" type="text" th:value="${user.name}"
										       class="form-control"
										       required>
									</div>
								</div>
								<div class="form-group">
									<label class="font-noraml">性别:</label>
									<div class="radio">
										<label>
											<input type="radio" th:checked="${user.gender==1}" value="option1"
											       id="optionsRadios1" name="gender" th:value="1">男</label>
										<label>
											<input type="radio" th:checked="${user.gender==0}" value="option2"
											       id="optionsRadios2" name="gender" th:value="0">女</label>
									</div>
								</div>

								<div class="form-group">
									<label class="font-noraml">生日:</label>
									<div class="input-group date">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										<input type="date" th:value="${#dates.format(user.birth,'yyyy-MM-dd')}"
										       class="form-control" id="datetimepicker-demo-2" name="birth"
										       placeholder="yyyy-MM-dd">
									</div>
								</div>

								<div class="form-group">
									<label class="font-noraml">部门:</label>
									<select class="form-control" th:name="department.id">
										<option th:selected="${dept.id == user.department.id}" th:each="dept:${depts}"
										        th:text="${dept.name}"
										        th:value="${dept.id}"></option>
									</select>
								</div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-3  right-arrow">
										<button class="btn btn-primary " type="submit">提交</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block th:include="include ::footer"/>
<th:block th:include="include ::datetimepicker-js"/>
<script type="text/javascript">
    $(function () {

        $("#datetimepicker-demo-2").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    })
</script>

</body>
</html>