<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.yctc.project.system.classroom.mapper.ClassroomMapper">
    
    <resultMap type="Classroom" id="ClassroomResult">
        <result property="id"    column="id"    />
        <result property="buildingFloorId"    column="building_floor_id"    />
        <result property="number"    column="number"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
        <association property="buildingFloor"    column="building_floor_id" javaType="BuildingFloor" resultMap="BuildingFloorResult" />
        <association property="equipment"    column="equipment_id" javaType="Equipment" resultMap="EquipmentResult" />

    </resultMap>

    <resultMap type="BuildingFloor" id="BuildingFloorResult">
        <result property="id"    column="id"    />
        <result property="building"    column="building"    />
        <result property="floor"    column="floor"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>

    <resultMap type="Equipment" id="EquipmentResult">
        <result property="id"    column="id"    />
        <result property="number"    column="enumber"    />
        <result property="name"    column="name"    />
        <result property="video"    column="video"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>

    <sql id="selectClassroomVo">
        select c.id, c.building_floor_id, c.number, c.equipment_id, c.create_time, c.modify_time,
        b.id, b.building, b.floor, b.create_time, b.modify_time,
        e.id, e.number as enumber, e.name, e.video, e.create_time,e.modify_time
        from sys_classroom c
            left join sys_building_floor b on c.building_floor_id = b.id
             left join sys_equipment e on c.equipment_id = e.id
    </sql>

    <select id="selectClassroomList" parameterType="Classroom" resultMap="ClassroomResult">
        <include refid="selectClassroomVo"/>
        <where>  
            <if test="buildingFloorId != null "> and c.building_floor_id = #{buildingFloorId}</if>
            <if test="number != null  and number != ''"> and c.number = #{number}</if>
            <if test="equipmentId != null  and equipmentId != ''"> and equipment_id = #{equipmentId}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
        </where>
    </select>
    
    <select id="selectClassroomById" parameterType="Long" resultMap="ClassroomResult">
        <include refid="selectClassroomVo"/>
        where c.id = #{id}
    </select>
        
    <insert id="insertClassroom" parameterType="Classroom" useGeneratedKeys="true" keyProperty="id">
        insert into sys_classroom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buildingFloorId != null ">building_floor_id,</if>
            <if test="number != null  and number != ''">number,</if>
            <if test="equipmentId != null  and equipmentId != ''">equipment_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="modifyTime != null ">modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buildingFloorId != null ">#{buildingFloorId},</if>
            <if test="number != null  and number != ''">#{number},</if>
            <if test="equipmentId != null  and equipmentId != ''">#{equipmentId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="modifyTime != null ">#{modifyTime},</if>
         </trim>
    </insert>

    <update id="updateClassroom" parameterType="Classroom">
        update sys_classroom
        <trim prefix="SET" suffixOverrides=",">
            <if test="buildingFloorId != null ">building_floor_id = #{buildingFloorId},</if>
            <if test="number != null  and number != ''">number = #{number},</if>
            <if test="equipmentId != null  and equipmentId != ''">equipment_id = #{equipmentId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="modifyTime != null ">modify_time = #{modifyTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteClassroomById" parameterType="Long">
        delete from sys_classroom where id = #{id}
    </delete>

    <delete id="deleteClassroomByIds" parameterType="String">
        delete from sys_classroom where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>