<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.yctc.project.system.stu.mapper.CourseStuMapper">
    
    <resultMap type="CourseStu" id="CourseStuResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
        <result property="stuname"    column="stuname"    />
                <association property="infost"    column="infost" javaType="Infost" resultMap="InfostResult" />
                <association property="lessonTea"    column="lessonTea" javaType="LessonTea" resultMap="LessonTeaResult" />
    </resultMap>

<!--    <resultMap type="Infost" id="InfostResult">-->
<!--        <result property="id"    column="id"    />-->
<!--        <result property="userId"    column="user_id"    />-->
<!--        <result property="academyId"    column="academy_id"    />-->
<!--        <result property="classId"    column="class_id"    />-->
<!--        <result property="number"    column="number"    />-->
<!--        <result property="name"    column="name"    />-->
<!--        <result property="type"    column="type"    />-->
<!--        <result property="sex"    column="sex"    />-->
<!--        <result property="idCardNumber"    column="id_card_number"    />-->
<!--        <result property="phone"    column="phone"    />-->
<!--        <result property="mail"    column="mail"    />-->
<!--        <result property="picture"    column="picture"    />-->
<!--        <result property="faceToken"    column="face_token"    />-->
<!--        <result property="createTime"    column="create_time"    />-->
<!--        <result property="modifyTime"    column="modify_time"    />-->
<!--&lt;!&ndash;        <association property="classes"    column="classes" javaType="Classes" resultMap="ClassesResult" />&ndash;&gt;-->
<!--    </resultMap>-->

    <resultMap type="LessonTea" id="LessonTeaResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="lessonId"    column="lesson_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
        <association property="lesson"    column="lesson" javaType="Lesson" resultMap="LessonResult" />
        <association property="infost"    column="infost" javaType="Infost" resultMap="InfostResult" />
    </resultMap>



    <resultMap type="Lesson" id="LessonResult">
        <result property="id"    column="id"    />
        <result property="courseId"    column="lcourseId"    />
        <result property="number"    column="number"    />
        <result property="classroomId"    column="classroom_id"    />
        <result property="begin"    column="begin"    />
        <result property="end"    column="end"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
        <association property="classroom"    column="classroom" javaType="Classroom" resultMap="ClassroomResult" />
        <association property="course"    column="course" javaType="Course" resultMap="CourseResult" />

    </resultMap>

    <resultMap type="Course" id="CourseResult">
        <result property="id"    column="id"    />
        <result property="number"    column="cnumber"    />
        <result property="name"    column="name"    />
        <result property="lessonSum"    column="lesson_sum"    />
        <result property="year"    column="year"    />
        <result property="term"    column="term"    />
        <result property="deptId"    column="dept_id"    />
        <result property="classesId"    column="classes_id"    />
                <association property="dept"    column="dept_id" javaType="Dept" resultMap="deptResult" />
    </resultMap>

    <resultMap type="Classroom" id="ClassroomResult">
        <result property="buildingFloorId"    column="building_floor_id"    />
        <result property="number"    column="qnumber"    />
        <result property="equipmentId"    column="equipment_id"    />
        <association property="buildingFloor"    column="building_floor_id" javaType="BuildingFloor" resultMap="BuildingFloorResult" />
    </resultMap>

    <resultMap type="BuildingFloor" id="BuildingFloorResult">
        <result property="id"    column="id"    />
        <result property="building"    column="building"    />
        <result property="floor"    column="floor"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>

    <resultMap type="Infost" id="InfostResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="academyId"    column="academy_id"    />
        <result property="classId"    column="class_id"    />
        <result property="number"    column="inumber"    />
        <result property="name"    column="iname"    />
        <result property="type"    column="type"    />
        <result property="sex"    column="sex"    />
        <result property="idCardNumber"    column="id_card_number"    />
        <result property="phone"    column="phone"    />
        <result property="mail"    column="mail"    />
        <result property="picture"    column="picture"    />
        <result property="faceToken"    column="face_token"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
                <association property="classes"    column="classes" javaType="Classes" resultMap="ClassesResult" />
    </resultMap>


    <resultMap type="Dept" id="DeptResult">
        <id     property="deptId"     column="dept_id"     />
        <result property="parentId"   column="parent_id"   />
        <result property="ancestors"  column="ancestors"   />
        <result property="deptName"   column="dept_name"   />
        <result property="orderNum"   column="order_num"   />
        <result property="leader"     column="leader"      />
        <result property="phone"      column="phone"       />
        <result property="email"      column="email"       />
        <result property="status"     column="status"      />
        <result property="delFlag"    column="del_flag"    />
        <result property="parentName" column="parent_name" />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <resultMap type="Classes" id="ClassesResult">
        <result property="id"    column="id"    />
        <result property="academyId"    column="academy_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="number"    column="unumber"    />
        <association property="dept"    column="dept_id" javaType="Dept" resultMap="deptResult" />
        <association property="academy"    column="academy_id" javaType="Academy" resultMap="academyResult" />
    </resultMap>

    <resultMap type="Academy" id="academyResult">
        <result property="id"    column="id"    />
        <result property="academy"    column="academy"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>

    <resultMap type="Dept" id="deptResult">
        <id     property="deptId"     column="dept_id"     />
        <result property="parentId"   column="parent_id"   />
        <result property="ancestors"  column="ancestors"   />
        <result property="deptName"   column="dept_name"   />
        <result property="orderNum"   column="order_num"   />
        <result property="leader"     column="leader"      />
        <result property="phone"      column="phone"       />
        <result property="email"      column="email"       />
        <result property="status"     column="status"      />
        <result property="delFlag"    column="del_flag"    />
        <result property="parentName" column="parent_name" />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectCourseStuVo">
            select t.id, t.user_id, t.course_id , t.create_time, t.modify_time ,
             l.course_id as lcourseId, l.number, l.classroom_id, l.begin, l.end,
               c.number as cnumber, c.name , c.lesson_sum, c.year, c.term, c.classes_id,

               u.academy_id, u.number as unumber,

              d.parent_id, d.dept_name, d.order_num, d.leader, d.status as dept_status,
              a.academy,
             i.class_id, i.number as inumber, i.name as iname, i.type, i.sex, i.id_card_number, i.phone, i.mail, i.picture, i.face_token,
               s.name as stuname


            from sys_course_stu t
                left join sys_lesson l on l.course_id = t.course_id
                left join sys_course c on c.id = l.course_id
                left join sys_lesson_tea e on l.id = e.lesson_id
                left join sys_infost i on e.user_id = i.id
                left join sys_infost s on t.user_id = s.id
                left join sys_classes u on c.classes_id = u.id
                left join sys_dept d on u.dept_id = d.dept_id
                left join sys_academy a on a.id = u.academy_id



    </sql>

    <select id="selectCourseStuList" parameterType="CourseStu" resultMap="CourseStuResult">
        <include refid="selectCourseStuVo"/>
        <where>  
            <if test="userId != null "> and t.user_id = #{userId}</if>
            <if test="courseId != null "> and t.course_id = #{courseId}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
        </where>
    </select>
    
    <select id="selectCourseStuById" parameterType="Long" resultMap="CourseStuResult">
        <include refid="selectCourseStuVo"/>
        where t.id = #{id}
    </select>
        
    <insert id="insertCourseStu" parameterType="CourseStu" useGeneratedKeys="true" keyProperty="id">
        insert into sys_course_stu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="courseId != null ">course_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="modifyTime != null ">modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="courseId != null ">#{courseId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="modifyTime != null ">#{modifyTime},</if>
         </trim>
    </insert>

    <update id="updateCourseStu" parameterType="CourseStu">
        update sys_course_stu
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="courseId != null ">course_id = #{courseId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="modifyTime != null ">modify_time = #{modifyTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCourseStuById" parameterType="Long">
        delete from sys_course_stu where id = #{id}
    </delete>

    <delete id="deleteCourseStuByIds" parameterType="String">
        delete from sys_course_stu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>