<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include ::header('yctc')"/>
</head>
<body class="gray-bg">
<div class="panel-group">
	<div class="panel-default panel">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#dqpb" data-toggle="collapse" data-parent="#accordion"></a></h4>
		</div>
		<div id="dqpb" class="panel-collapse collapse">
			<div class="panel-body">
				<p class="text-left"></p>
			</div>
		</div>
	</div>
</div>


<th:block th:include="include ::footer"/>
</body>
</html>
