<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('课时信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>课程编号：</label>
                                <input type="text" name="courseId"/>
                            </li>
                            <li>
                                <label>课时：</label>
                                <input type="text" name="number"/>
                            </li>
                            <li>
                                <label>教室：</label>
                                <input type="text" name="classroomId"/>
                            </li>
                            <li class="select-time">
                                <label>上课时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginBegin]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endBegin]"/>
                            </li>
                            <li class="select-time">
                                <label>下课时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginEnd]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endEnd]"/>
                            </li>
                            <li class="select-time">
                                <label>修改时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginModifyTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endModifyTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:lesson:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:lesson:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:lesson:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:lesson:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:lesson:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:lesson:remove')}]];
        var prefix = ctx + "system/lesson";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "课时信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: '编号',
                    visible: false
                },
                {
                    field: 'course.number',
                    title: '课程编号'
                },
                    {
                        field: 'course.name',
                        title: '课程名称',
                        sortable: true
                    },
                    {
                        field: 'number',
                        title: '第几次课时'
                    },
                {
                    field: 'classroom.buildingFloor.building',
                    title: '楼号'
                },
                    {
                        field: 'classroom.buildingFloor.floor',
                        title: '楼层号'
                    },
                    {
                        field: 'classroom.number',
                        title: '教室号',
                        sortable: true
                    },
                {
                    field: 'begin', 
                    title: '上课时间',
                    sortable: true
                },
                {
                    field: 'end', 
                    title: '下课时间'
                },
                {
                    field: 'modifyTime', 
                    title: '修改时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>