<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增学生考勤点名汇总')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-attendance-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户编号：</label>
                <div class="col-sm-8">
                    <input name="userId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课时编号：</label>
                <div class="col-sm-8">
                    <input name="lessonId" class="form-control" type="text">
                </div>
            </div>
	        <div class="form-group">
		        <label class="col-sm-3 control-label">出勤情况：</label>
		        <div class="col-sm-8">
			        <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
				        <input type="radio" th:id="${dict.dictCode}" name="attendState" th:value="${dict.dictValue}" >
				        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
			        </div>
		        </div>
	        </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">修改时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="modifyTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/attendance"
        $("#form-attendance-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-attendance-add').serialize());
            }
        }

        $("input[name='modifyTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>